{:deps {org.clojure/clojurescript {:mvn/version "1.10.597"}
        com.bhauman/figwheel-main {:mvn/version "0.2.3"}
        binaryage/oops {:mvn/version "0.7.0"}
        cljsjs/pixi {:mvn/version "5.1.4-0"}}

 :paths ["src" "target" "resources"]

 :aliases {:dev
           {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]
            :extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.3"}
                         com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}}
           :min
           {:main-opts ["-m" "figwheel.main" "-bo" "awwwliens-min"]}}}
